<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd">

    <lang:defaults refresh-check-delay="100000"/>

    <!--
    <lang:groovy id="greetingService" script-source="classpath:/GreetingServiceImpl.groovy"/>
    -->

    <lang:groovy id="greetingService">
        <lang:inline-script>
            import com.github.yingzhuo.spring.examples.groovy.iface.GreetingService

            class GreetingServiceImpl implements GreetingService {

                @Override
                void greet(String name) {
                    if (name != null)
                        println "Hi " + name + "!"
                    else
                        println "Hi."
                }

            }
        </lang:inline-script>
    </lang:groovy>

</beans>
