# --------------------------------------
# mac
# --------------------------------------
.DS_Store

# --------------------------------------
# svn
# --------------------------------------
.svn/

# --------------------------------------
# java
# --------------------------------------
*.class
*.jar
*.asc
*.war
*.zip
*.ear
hs_err_pid*

# --------------------------------------
# log
# --------------------------------------
*.log
*.out

# --------------------------------------
# idea
# --------------------------------------
.idea/
*.eml
*.iml
*.ipr
*.iws

# --------------------------------------
# eclipse
# --------------------------------------
.classpath
.project
.settings/

# --------------------------------------
# temporary files
# --------------------------------------
*.tmp
*.temp
*.bak
*.backup
~*

# --------------------------------------
# gradle
# --------------------------------------
.gradle/
gradle/
gradlew
gradlew.bat

# --------------------------------------
# maven
# --------------------------------------
target/
.mvn/
mvnw
mvnw.cmd
