<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <base href="${WEBROOT}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpringBoot and Jetx</title>

    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="examples.css">
</head>

<body>

<div class="container">
    <h2>贡献者</h2>

    <table class="table table-striped table-hover">
        <tbody class="">
            #for (user : users)
            <tr>
                <td>${user.name}</td>
                <td>#if(user.gender == Gender::MALE) 男 #else 女 #end</td>
                <td>${user.comment}</td>
            </tr>
            #end
        </tbody>
    </table>
</div>

<script src="webjars/jquery/1.11.3/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
